* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #666;
  position: relative; }

.clearfix {
  clear: both; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

nav {
  z-index: 9999;
  position: fixed;
  width: 100%; }
  nav ul {
    list-style: none;
    background: linear-gradient(#EEE, #FFF);
    text-align: center;
    box-shadow: 0 0 5px 1px #333; }
    nav ul li {
      user-select: none;
      display: inline-block;
      text-align: center;
      padding: 10px 20px;
      border-radius: 3px;
      vertical-align: middle; }
    nav ul li:hover {
      transition: 0.5s;
      background-color: rgba(238, 33, 33, 0.8);
      color: white;
      cursor: pointer; }

#sensor {
  position: fixed;
  z-index: 99999;
  font-size: 20px; }

#logo {
  padding: 5px 0;
  position: relative;
  font-size: 0; }
  #logo img {
    margin: 0 50px;
    vertical-align: middle;
    width: 216px;
    height: 70px; }

#logo {
  background-color: rgba(238, 33, 33, 0); }

#jumbotron {
  padding-top: 80px;
  height: 37vw;
  width: 100%;
  position: relative;
  margin-bottom: 120px; }
  #jumbotron span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    border-bottom: 4px #EE2121 solid; }
  #jumbotron #jumbo1 {
    background-image: url(../img/jumbotron1.jpg);
    z-index: 3;
    animation-name: jumbo1; }
  #jumbotron #jumbo2 {
    background-image: url(../img/jumbotron2.jpg);
    z-index: 2;
    animation-name: jumbo2; }
  #jumbotron #jumbo3 {
    background-image: url(../img/jumbotron3.jpg);
    z-index: 1;
    animation-name: jumbo3; }

@keyframes jumbo1 {
  0% {
    opacity: 1; }
  16.6% {
    opacity: 1; }
  33.2% {
    opacity: 0; }
  83.3% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes jumbo2 {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  66.6% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes jumbo3 {
  0% {
    opacity: 1; }
  66.6% {
    opacity: 1; }
  83.3% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.content {
  margin: 20vh 20%;
  width: 60%;
  clear: both; }
  .content h2 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    color: #EE2121;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 0;
    padding: 10px 0; }
  .content p {
    font-size: 16px; }

#sobre {
  text-align: center; }
  #sobre p {
    line-height: 24px;
    margin-bottom: 10px; }
  #sobre #membros-container {
    margin-top: 40px; }
    #sobre #membros-container .membros {
      float: left;
      width: 100%;
      padding: 0 20px;
      margin-bottom: -35px; }
      #sobre #membros-container .membros img {
        float: left;
        border-radius: 100%;
        border: #9d0c0c 7px solid;
        background-color: #9d0c0c; }
      #sobre #membros-container .membros h3 {
        top: 50px;
        left: 30px;
        text-align: left;
        position: relative;
        color: black; }
      #sobre #membros-container .membros p {
        margin-top: 60px;
        text-align: left;
        position: relative;
        left: 40px; }
    #sobre #membros-container .membros:last-child {
      margin-bottom: 40px; }
    #sobre #membros-container #boaz, #sobre #membros-container #daniel {
      left: -750px; }
    #sobre #membros-container #henrique {
      right: -750px; }
      #sobre #membros-container #henrique img {
        float: right; }
      #sobre #membros-container #henrique h3 {
        left: -30px;
        text-align: right; }
      #sobre #membros-container #henrique p {
        text-align: right;
        position: relative;
        left: -40px; }

.linha {
  width: 100%;
  height: 12vw; }
  .linha .coluna {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 12vw; }
    .linha .coluna .foto {
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100%;
      transition: 0.8s;
      filter: grayscale(100%); }
    .linha .coluna .foto:hover {
      transition: 0.3s;
      filter: grayscale(0%);
      cursor: pointer; }
    .linha .coluna #foto1 {
      background-image: url(../img/foto1.jpg);
      background-position: 0 -20px; }
    .linha .coluna #foto2 {
      background-image: url(../img/foto2.jpg); }
    .linha .coluna #foto3 {
      background-image: url(../img/foto3.jpg);
      background-position: top; }
    .linha .coluna #foto4 {
      background-image: url(../img/foto4.jpg);
      background-position: top; }
    .linha .coluna #foto5 {
      background-image: url(../img/foto5.jpg);
      background-position: top; }
    .linha .coluna #foto6 {
      background-image: url(../img/foto6.jpg); }

#videos {
  margin-top: 40px;
  height: 350px; }
  #videos .video-container {
    width: 50%;
    height: 20vw;
    float: left;
    padding: 10px; }
    #videos .video-container iframe {
      width: 100%;
      height: 100%; }

#repertorio p {
  text-align: center; }
#repertorio .repertorio-container {
  float: left;
  width: 50%;
  padding: 20px; }

#contato {
  padding-bottom: 500px; }
  #contato #contato-esquerda {
    width: 45%;
    float: left; }
    #contato #contato-esquerda input {
      display: block;
      height: 30px;
      margin-top: 15px;
      padding: 5px 5px;
      width: 100%;
      font-size: 14px; }
    #contato #contato-esquerda input:focus {
      outline: none;
      border: 1px solid #EE2121;
      box-shadow: 1px 1px 1px 1px #AAA; }
    #contato #contato-esquerda textarea {
      outline: none;
      display: block;
      margin-top: 15px;
      width: 100%;
      height: 200px;
      font-size: 14px;
      padding: 5px; }
    #contato #contato-esquerda textarea:focus {
      border: 1px solid #EE2121;
      box-shadow: 1px 1px 1px 1px #AAA; }
    #contato #contato-esquerda button {
      margin-top: 15px;
      padding: 10px 20px;
      font-size: 18px;
      background-color: #EE2121;
      border: 1px #AAA solid;
      color: white;
      border-radius: 3px; }
  #contato #contato-direita {
    float: left;
    margin-left: 5%;
    width: 45%; }
    #contato #contato-direita p {
      margin-top: 5px; }
    #contato #contato-direita .contato-titulo {
      margin-bottom: 10px; }
    #contato #contato-direita img {
      top: 3px; }
    #contato #contato-direita #emails {
      margin-top: 15px; }

iframe {
  border: none; }

.active {
  background-color: rgba(238, 33, 33, 0.8);
  color: white;
  transition: 0.5s; }

.notActive {
  background-color: none;
  color: #666;
  transition: 0.5; }

/*# sourceMappingURL=style.css.map */
